body {
    font-family: helvetica;
    text-align: center;
    color: azure;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
margin-right: 19px;
}

ul li a {
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 75px;
}

p {
    font-size: 50px;
}

li {
    list-style-type: none;
    font-size: 40px;
}

pp {
    font-size: 40px;
}
